.notfound-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.notfound-title {
  font-size: 6rem;
  color: var(--primary);
}

.notfound-subtitle {
  font-size: 2rem;
  margin: 1rem 0;
}

.notfound-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: var(--muted);
}


.notfound-button:hover {
  background-color: var(--accent);
}
