@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg: #ffffff;
  --primary: #c778dd;
  --muted: #000000;
  /* --foreground: #abb2bfcb; */
  --foreground: #000000;

  --bg-main: #97a7c5;
  --navbar-bg: rgba(255, 255, 255, 0.7);
  --gr: #55585f;

  --pro:#5e498f;
}

.dark {
  --bg: #282c33;
  --primary: #c778dd;
  --muted: #abb2bf;
  --foreground: #ffffff;
  --bg-main: #343942;
  --navbar-bg: rgba(40, 44, 51, 0.7);
  --gr: #abb2bf;

  --pro:#000000;

}

body {
  font-family: "Fira Code", monospace;
  background-color: var(--bg);
  color: var(--foreground);
}


.button-cosmic {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--foreground);
  color: var(--foreground);
  background: transparent;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0.5rem 0;
}


.button-cosmic:hover {
  border-color: var(--primary);
  color: var(--muted);
  box-shadow: 0 0 10px rgba(199, 120, 221, 0.5); 
  transform: scale(1.05); 
}

a {
  color: var(--muted);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

a:hover {
  color: var(--primary);
  transform: scale(1.02); 
}


.text-glow {
  text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
}

.primary-button {
  color: var(--foreground);
  border: 1px solid var(--primary);
  font-weight: 600; 
  padding: 0.5rem 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.primary-button:hover {
  background-color: var(--primary);
  color: var(--background);
}

.bordered-text {
  color: var(--foreground);
  border: 1px solid var(--muted);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
}

.bordered-text p {
  color: var(--muted);
  margin: 0;
}

.primary-text {
  color: var(--primary);
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  padding-bottom: 2rem;
  gap: 2rem;
}
p {
  color: var(--gr);
}


.fade-in {
  animation: fadeInHero 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes fadeInHero {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.98);
    filter: blur(4px);
  }
  50% {
    opacity: 0.6;
    transform: translateY(10px) scale(1.01);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}
